/*
 Theme overrides for Hyperspace Template
 @tenji240
*/

section p {
  font-weight: 300;
  font-size: medium;
}

.inline {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 0;
}

.inline li {
  display: inline-block;
}

.irregardless-section {
  background-color:#3489af;
}

.shipped-section {
  background-color: #0097d6;
  background-image:linear-gradient(to bottom,#0097d6 0,#0ab7ff 100%);
}

.scoreboard-section {
  background-color:#3fc380;
}

.aboutme-section {
  background: #6441A5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6441A5 , #2a0845); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6441A5 , #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
